!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.*~
*.bak
*.css.map
*.gho
*.iws
*.ori
*.orig
*.pyc
*.sass.map
*.scss.map
*.sln.docstates
*.suo
*.swp
*.tmp
*.user
*.userosscache
*.vsix
*~
.DS_Store
.Trash-*
.directory
.fuse_hidden*
.history/
.idea
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.nfs*
.sass-cache/
.svelte-kit/
.vs/
.vscode
.vscode/*
/.hugo_build.lock
/assets/jsconfig.json
/public/
/resources/_gen/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
atlassian-ide-plugin.xml
bld/
build/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
hugo.darwin
hugo.exe
hugo.linux
hugo_stats.json
msbuild.err
msbuild.log
msbuild.wrn
nupkg/
out/
package
project.lock.json
x64/
x86/
